<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Confirm</title>
</head>
<body>
    <h1 style="color:aquamarine;">Password Reset Confirmation</h1>
    <h2 style="color: aqua;">Please enter your new password:</h2>
    <form action="{% url 'password_reset_confirm' uidb64=uidb64 token=token %}" method="post">
        {% csrf_token %}
        <label for="new_password">New Password:</label><br>
        <input type="password" id="new_password" name="new_password"><br>
        <label for="confirm_password">Confirm New Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password"><br><br>
        <button type="submit" style="background-color:black; color: white;">Reset Password</button>
    </form>
</body>
</html>